## Folders ##
.metadata/
outgoing/

SimplicityStudio/motor-controller/GNU*/
SimplicityStudio/motor-controller/outgoing/
SimplicityStudio/motor-controller/.settings/

SimplicityStudio/.metadata/
SimplicityStudio/.externalFiles/

## Files ##
SimplicityStudio/motor-controller/.cproject
SimplicityStudio/motor-controller/.project